CompileFlags:
  Add:
    - "-I/opt/devkitpro/libnds/include"
    - "-I/opt/devkitpro/libctru/include"
    - "-I/opt/devkitpro/devkitARM/include"
    - "-I/opt/devkitpro/devkitARM/arm-none-eabi/include"
    - "-I/opt/devkitpro/devkitARM/arm-none-eabi/include"
    - "-I/home/gruvw/SynologyDrive/Programmation/C/nds-game/lab-5/Timers/precompiled"
    - "-I/home/gruvw/SynologyDrive/Programmation/C/nds-game/lab-7/build"
    - "-I/home/gruvw/SynologyDrive/Programmation/C/nds-game/midterm-2017/precompiled"
    - "-I/home/gruvw/SynologyDrive/Programmation/C/nds-game/midterm-2017/source"
    - "-I/home/gruvw/SynologyDrive/Programmation/C/nds-game/midterm-2022/build"
    - "-DARM9"
